body, html{
  height:100%;
  overflow: hidden;
}
body{
  margin: 0px;
  background-color:#444;
  padding-top: 0.5%;
  padding-right: 0.25%;
  font-size: 30px;
  font-family: 'Bungee';
  background-image: url('dancefloor3.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
}

body, a:link, a:visited, a:active{
  color: white;
  text-decoration: none;
}

.title, .addBlinkyDancerButton, .addSnoopDancerButton, .addPsyDancerButton ,.addSquidwardDancerButton, .addBreakDancerButton, .lineUp {
  padding:5px 12px;
  float:right;
}

.topbar{
  z-index: 100;
}

.title{
  z-index: 100;
}

.dancer{
  padding: 20px;
  display: inline-block;
}

.snoopDancerLine {
  margin-top: 300px;
  margin-left: 30px;
  margin-right: 0px;
  margin-bottom: -200px;
}

.snoopDancerRotate {
  transform: rotate(-15.5deg)
}

.psyDancerRotate {
  transform: rotate(-16deg)
}

.squidwardDancerLine {
  margin-top: -200px;
  margin-left: 30px;
  margin-right: 0px;
  margin-bottom: 150px;
}

.breakDancerLine {
  margin-top: -320px;
  margin-left: 75%;
  margin-right: 0px;
  margin-bottom: 150px;
}

.danceParty {
  margin-top: 300px;
  margin-left: 30px;
  margin-right: 0px;
}

.squidwardDancerRotate {
  transform: rotate(-16.6deg);
}

.breakDancerRotate {
  transform: rotate(-15.6deg);
}

.dancerLines {
  margin-top: 200px;
}

.bboy {
  width: 75%;
}

.bboy:hover {
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
audio {
  display: none;
}